@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Dirt&family=Rubik+Marker+Hatch&display=swap');
@import 'tailwindcss';
*{
  font-family: 'Noto Sans';
}